body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #46c;
}
a:hover {
    text-decoration: underline;
}

pre {
    background-color: #f8f8f8;
    border: #ccc 1px solid;
    padding: 0.5ex 0.5em;
}
